---
layout: default
---
<div clas="container">
  <div class="home row">
    <div  id="cta_div" class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h1>Jane Bailey</h1>
        <h3>Speculative fiction and short works</h3>
        
        <p>Welcome, readers! Jane Bailey offers innovative, queer fantasy for today's youth. She tends toward short fiction, but has published several novels in both ebook and paperback format.</p>
        <a href="http://eepurl.com/bY_2NP" class="btn btn-primary">Sign up for the Jane Bailey newsletter</a>
      </div>
      <div id="slideshow" ></a>>
         <div>
           <a href="/books/wolfbound/index.html"><img src="/assets/slideshow/wolfbound_cover_square.jpg" alt="Wolfbound now available"></a>
         </div>
         <div>
           <a href="/books/hunt/index.html"><img src="/assets/slideshow/hunt_cover_square.jpg" alt="The Hunt now available"></a>
         </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
    <h1 class="page-heading">Recent Updates</h1>
  
    <ul class="post-list">
      {% for post in site.posts %}
        {% if forloop.index > 5 %}
          {% break %}
        {% endif %}
        <li>
           <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> (<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>)
        </li>
      {% endfor %}
    </ul>
  
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
  </div>
</div>
<script>
/* global $ */
  $("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  9000);
</script>
