<header class="site-header">

  <div class="wrapper">

    {% if page.url != site.baseurl %}<a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/images/jbb_noback.png" width=200></a>{% endif %}

    <nav id="topnav">
      <ul class="nav nav-tabs">
        {% for my_page in site.pages %}
          {% if my_page.title %}
           {% if page.url == my_page.url %} 
          <li class="nav-item active">
            {% else %} 
            <li class="nav-item">
             {% endif %} 
             <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
         
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
